.controls {
  overflow: auto;
}

#feedback-container {
  font-size: 20px;
  display: inline-block;
  border-radius: 3px;
  padding: 0 10px;
  text-decoration: none;
  height: 25px;
  line-height: 25px;
  display: block;
  text-align: center;
  margin-right: 10px;
}

.ai-button {
  font-size: 20px;
  display: inline-block;
  background: #8f7a66;
  border-radius: 3px;
  padding: 0 10px;
  text-decoration: none;
  color: #f9f6f2;
  height: 25px;
  line-height: 25px;
  display: block;
  text-align: center;
  margin-right: 10px;
  border-top-width: 1px; 
  border-right-width: 1px; 
  border-bottom-width: 1px; 
  border-left-width: 1px; 
  border-top-style: solid; 
  border-right-style: solid; 
  border-bottom-style: solid; 
  border-left-style: solid; 
}

#run-button-container {
  float: right;
}

#hint-button-container, #feedback-container {
  float: left;
}

#feedback-container {
  font-weight: bold;
}
